<!DOCTYPE html>
<html>
<head>
    <title>Activities</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>

<form method="post" id="activitiesForm" action="/proposeactivities">
    <table id="activitiesTable">
        <tr>
            <td id="activity_1_TD">Activity 1</td>
            <td><input type="checkbox" name="activity_1"></td>
        </tr>
        <tr>
            <td id="activity_2_TD">Activity 2</td>
            <td><input type="checkbox" name="activity_2"></td>
        </tr>
        <tr>
            <td id="activity_3_TD">Activity 3</td>
            <td><input type="checkbox" name="activity_3"></td>
        </tr>
    </table>

    <input type="submit" value="Continue">

</form>

</body>
</html>
