<!DOCTYPE html>
<html>
<head>
    <title>Sharing Link</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <p>Sharing with you friends, click <a href= "<%= url %>" >here</a></p>
</body>
</html>