<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<form method="post" id="searchForm" action="/search">
    <input value="Search">
</form>

<div id="searchDiv">
    <table>
        <ul id="searchResults">
            <--! write js function to fill in <ls></ls> -->
        </ul>
    </table>
</div>
</body>
</html>
