<!DOCTYPE html>
<html>
<head>
    <title>Propose Times</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<script>
    function select(id) {
        var elemInput = document.getElementById(id);
        var elemTD = document.getElementById(id+'TD');
        var flag = elemInput.value
        if (flag == "0") {
            elemInput.value = "1";
            elemTD.css("background-color", "red");
        } else {
            elemInput.value = "0";
            elemTD.css("background-color", "white");
        }
    }
</script>

<form method="post" id="timeForm" action="/proposetimes">
    <table id="timesTable">
    <tr><td id="morningTD" onclick="select('morning');">
        "Morning"
    </td></tr>
        <tr><td id="afternoonTD" onclick="select('afternoon');">
        "Afternoon"
    </td></tr>
        <tr><td id="eveningTD" onclick="select('evening');">
        "Evening"
    </td></tr>
        <tr><td id="nightTD" onclick="select('night');">
        Night
    </td></tr>
    </table>
    <input type="hidden" id="morning" value="0">
    <input type="hidden" id="afternoon" value="0">
    <input type="hidden" id="evening" value="0">
    <input type="hidden" id="night" value="0">
</form>

</body>
</html>
